

.moreButton { 
  width: 278px;
  height: 47px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  display: flex;
  margin: auto;
  margin-top: 40px;
  align-items: center;
  justify-content: center;


  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}