.nav {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.nav a {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
}
.nav .activePage{
  position: relative;
}

.nav .activePage::after {
  position: absolute;
  bottom: -10px;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #FFFFFF;
}