.cart {
  width: 700px;
  padding: 50px 50px 25px;
  position: absolute;
  top: 96px;
  right: 0px;
  background-color: white;
}

.cartIcon:hover {
  cursor: pointer;
}

.headerWrapper {
  display: flex;
  align-items: center;
  font-family: 'Mulish', sans-serif;
  margin-bottom: 10px;
}

.headerWrapper h6 {
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
}

.headerWrapper span {
  font-size: 14px;
  font-weight: 500;
}

.button {
  border: none;
  padding: 10px 50px;
  background-color: #C72230;
  color: #FFFFFF;
  display: flex;
  margin: auto;
  margin-top: 30px;
  align-items: center;
  justify-content: center;


  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.2;

}